// create an env.js file next to this example, changing the values to your firebase infos

const env = {
    APIKEY:"yourAPIKEY",
    AUTHDOMAIN:"your-AUTHDOMAIN.firebaseapp.com",
    PROJECTID:"your-PROJECTID",
    STORAGEBUCKET:"your-STORAGEBUCKET.appspot.com",
    MESSAGINGSENDERID:"yourMESSAGINGSENDERID",
    APPID:"yourAPPID"
};

export default env;